//====================================================================================================
.surf{
    padding: rem(160) 0 rem(210) 0;
    background-image: url('img/surf-bg.svg');
    background-position: right 150px;
    background-repeat: no-repeat;
    background-size: auto;
    &__subtitle{
        text-align: right;
        padding-right: rem(80);
        margin-top: rem(-40);
    }
}
//====================================================================================================
.surf-slider {
    padding-top: rem(110);
    .slider__arrows {
        top: rem(50);
        opacity: 0.25;
    }
}
.surf-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	&__inner {
        min-height: rem(750);
        background: rgba(#1C2121, 0.85);
        position: relative;
	}

	&__inner-title {
	}

	&__inner-location {
	}
}
.btn-box {
}
.btn {
}
